body {
	margin: 0;
	padding: 0;
	
	
} 

.p2 {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 15px;
line-height: 1.428571429;
color: #808080;
font-weight: 500;
line-height: 1.1;
} 
.p3 {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 22px;
line-height: 1.428571429;
color: #D94033;
font-weight: bolder;
line-height: 1.1;
} 
.p5 {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 22px;
line-height: 1.428571429;
color: #33CC33;;
font-weight: bolder;
line-height: 1.1;
} 
	
p {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 30px;
line-height: 1.428571429;
color: #808080;
font-weight: 500;
line-height: 1.1;
} 

/*  background {
	background-image: url ("bg.jpeg");
	background-color: #D3D3D3;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}
	*/
	
.hr {
    height: 1px;
    background: #858585;
    width: 100%;
    font-size: 1px; /* IE 6 */
}
/* page */

#page {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
	width: auto;
	margin: 0px;
	padding-left: 30px;
	padding-right: 30px;
} 

/* header */

#header-wrapper {
	padding-left: 30px;
	padding-right: 30px;
	/* padding-bottom: 20px; */
	/*border-bottom-style: solid;
	border-bottom-width: 2px; */
}

#header {
	font-family: "veranda";
	width: auto;
	margin: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-top: 1px;
	height: 60px;
	text-align: center; 
	/* border-bottom-style: solid;
	border-bottom-width: 2px; */
}

#header.h1 {
	font-family: "Helvetica Neue";
	text-align: center;
	}

/* header2 */

#header2 {
	
	width: auto;
	padding-top: 25px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 17px;
	height: 35px;
	text-align: center;
	overflow: hidden; 
	margin: 0px;
} 
 



/* content */
	
#content { 
	float: right;
	width: 800px; 
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 30px;
	margin-left: 0px;
	border: 1px solid #00000;
} 
#content-post {  
	border-bottom: 1px solid #000000;
}

/* footer */

#footer {
	width: 1200px; 
	background-color: #0F0F0A;
	padding-top: 15px; 
	padding-bottom: 1px; 
	padding-left: 10px;
	padding-right: 10px; 
} 

/* catagories */

#pickone {
	padding: 4px;
	width: 250px;
	float:center;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	text-align: center;
	display: block;
	margin: 10px auto;
}

#question {
	padding: 14px;
	width: 412px;
	border-style: solid;
	border-width: 5px;
	border-color: #D6F1FF;
	border-radius: 5px;
	display: block;
	margin: 10px auto;
}

.button {
	margin-top: 15px;
	margin-right: 5px;
	margin-left: 15px;
	-moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D6F1FF), color-stop(1, #8ec4fa) );
	background:-moz-linear-gradient( center top, #D6F1FF 5%, #8ec4fa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6F1FF', endColorstr='#8ec4fa');
	background-color:#D6F1FF;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8ec4fa), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #8ec4fa 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ec4fa', endColorstr='#79bbff');
	background-color:#8ec4fa;
}.button:active {
	position:relative;
	top:1px;
	}

	
#end {
	padding: 14px;
	width: 412px;
	border-style: solid;
	border-width: 5px;
	border-color: #666666;
	border-radius: 5px;
	display: block;
	margin: 10px auto;
}

#progressbar {
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-top: 15px;
}

#progressbar > div {
   background-color: gray;
   /* width: 40%; */
   height: 20px;
   border-radius: 10px;
}

#Qnumber {
	text-align: center;
	padding-bottom: 20px;
	/* border-right-style: solid;
	border-right-width: 1px; 
	/*padding-right: 50px; */
}

.p4 {
	/* text-align: center;*/
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10px; 
	display:inline;
	color: #808080;
	font-weight: 500;
	line-height: 1.1;
	
} 

span {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px; 
	color: #525252;
	font-weight: 500;
	line-height: 1.25;
	}

#scoreCount {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px; 
	color: #525252;
	font-weight: 500;
	line-height: 1.25;
	}

#currentQs {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px; 
	color: #525252;
	font-weight: 500;
	line-height: 1.25;
	}

#right {
	width: auto;
	text-align: center;
	/* border-style: solid;
	border-width: 2px;
	border-radius: 4.5px;
	border-color: green; */
	height: 60px;
	padding-top: 40px;
	padding-bottom: 00px;
	}

#wrong {
	width: auto;
	text-align: center;
	/* border-style: solid;
	border-width: 2px;
	border-radius: 4.5px;
	border-color: green; */
	height: 60px;
	padding-top: 40px;
	padding-bottom: 00px;
	}

.buttons {
	margin-left: -10px;
	display: block;
	text-align: center;
}

#quote {
	margin-top: 0px;
}